In [1]:
import pandas as pd

In [2]:
QLD_simulation = pd.read_excel(f'QLD_simulation.xlsx')

In [8]:
QLD_simulation

                     NDX  simulated_QLD         QLD
Date
1985-10-02    110.824997       0.777421         NaN
1985-10-03    110.870003       0.777459         NaN
1985-10-04    110.074997       0.776790         NaN
1985-10-07    108.199997       0.775225         NaN
1985-10-08    107.160004       0.774372         NaN
...                  ...            ...         ...
2024-10-08  20107.779297     108.300086  101.019997
2024-10-09  20268.859375     110.023525  102.589996
2024-10-10  20241.759766     109.731275  102.370003
2024-10-11  20271.970703     110.056642  102.580002
2024-10-14  20439.050781     111.858752  104.300003

[9837 rows x 3 columns]

In [12]:
import pandas as pd

def calculate_sliding_window_returns(df, holding_years, columns):
    # Create a dictionary to store median returns for each holding period for each column
    results = {col: [] for col in columns}
    
    # Loop through each holding period in years
    for years in holding_years:
        # Calculate the number of days corresponding to the holding period (assuming 252 trading days per year)
        window_size = years * 252
        
        # Calculate returns for each column using a sliding window
        for col in columns:
            returns = []
            # Loop through the dataframe with the specified window size
            for i in range(len(df) - window_size):
                # Calculate the return over the window period
                start_price = df[col].iloc[i]
                end_price = df[col].iloc[i + window_size]
                return_percent = (end_price - start_price) / start_price 
                returns.append(return_percent)
            
            # Calculate the median return for this holding period
            median_return = pd.Series(returns).median()
            results[col].append(median_return)
    
    # Create a results dataframe with columns as holding periods and rows as NDX and simulated_QLD
    return_df = pd.DataFrame(results, index=[f"{years} Years" for years in holding_years]).T
    return return_df

# Define the holding periods in years
holding_years = [1, 2, 5, 10, 20, 30]

# Specify the columns to calculate returns on
columns = ['NDX', 'simulated_QLD']

# Calculate returns
returns_df = calculate_sliding_window_returns(QLD_simulation, holding_years, columns)

# Display the result
returns_df

                1 Years   2 Years   5 Years  10 Years  20 Years   30 Years
NDX            0.170799  0.301539  1.009302  2.582781  7.629134  38.797014
simulated_QLD  0.142932  0.296840  0.901744  2.142936  3.278363  32.351606